name: Github CI/CD

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:
  build:
    if: github.ref_type == 'branch'
    uses: Shawiizz/dockflow/.github/workflows/build.yml@2.0.0-dev6

  deploy:
    if: github.ref_type == 'tag'
    uses: Shawiizz/dockflow/.github/workflows/deploy.yml@2.0.0-dev6
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit