name: Github CI/CD

on:
  push:
    branches:
      - '*'
    tags:
      - '*'

jobs:
  build:
    if: github.ref_type == 'branch'
    uses: Shawiizz/devops-framework/.github/workflows/build.yml@1.0.37-dev1

  deploy:
    if: github.ref_type == 'tag'
    uses: Shawiizz/devops-framework/.github/workflows/deploy.yml@1.0.37-dev1
    with:
      tag: ${{ github.ref_name }}
    secrets: inherit